.container {
  display: grid;
  justify-content: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.container>h4 {
  margin-bottom: 1rem;
}

.details {
  display: flex;
  gap: 40px;
}

.important_information{
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .group_img,
  .container>h4 {
    display: none;
  }

  .container_details {
    width: 100%;
  }

  .details {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .container_details {
    width: 100%;
  }

  .details {
    flex-direction: flex;
  }
}