.container {
  display: grid;
  justify-content: center;
}

.container>h4 {
  margin-bottom: 1rem;
  justify-self: center;
}

.container_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 4rem;
}


.hide {
  display: none !important;
}

.elipses {
  cursor: pointer;
  background-color: red;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50rem;
}

.prices {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.related {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: flex-start;
  padding-left: 3.5rem;
}

.related_products {
  display: flex;
  margin-top: 2rem;
  gap: 5px;
}

.group_rating {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


@media (max-width: 767px) {

  .group_img,
  .container>h4 {
    display: none;
  }

  .details {
    flex-direction: column;
  }
}