.container_img {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.group_img {
  width: 59px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img_presentation {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.img {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.hide {
  display: none !important;
}

@media (max-width: 767px) {
  .group_img {
    display: none;
  }

  .img_presentation {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }

  .container_img {
    gap: 0px
  }

}