.img_hero {
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 3rem;
  padding: 0 4% 0 4%;
}

@media (max-width: 767px) {
  .group_img,
  .container>h4 {
    display: none;
  }

  .details {
    flex-direction: column;
    justify-content: center;

  }

}